.container{
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(127, 77, 11);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row wrap; lo mismo que los dos de arriba*/
    height: 500px;
    gap: 30px 15px; /* espacio de 30 arriba y abajo y de 15 a la izq y a la dcha*/
    
}
.child{
    border: 2px dashed burlywood;
    width: 200px;
}